<div *ngIf="games">
    <div class="heading">Coming Soon (Featured)</div>
    <div class="featured_games_wrap">
        <div
            *ngFor="let game of games | featuredGames "
            class="featured_game_block"
            style.background-image = "{{ game.acf.hero_cover_art ? 'url(' + game.acf.hero_cover_art.sizes.medium + ')' : '' }}"
        >
            <div class="game_info_container">
                <div class="game_title">{{ game.title.rendered }}</div>
                <div class="release_date">{{ game.acf.release_date }}</div>
            </div>
        </div>
    </div>

    <ul class="accordion" data-accordion>
            <li class="accordion-item is-active" data-accordion-item>
              <a href="#" class="accordion-title">Accordion 1</a>
              <div class="accordion-content" data-tab-content >
                <p>Panel 1. Lorem ipsum dolor</p>
                <a href="#">Nowhere to Go</a>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Accordion 2</a>
              <div class="accordion-content" data-tab-content>
                <textarea></textarea>
                <button class="button">I do nothing!</button>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Accordion 3</a>
              <div class="accordion-content" data-tab-content>
                Type your name!
              </div>
            </li>
          </ul>
</div>
