@import '../../../../assets/foundation-sites/global';
@import '../../../../assets/foundation-sites/settings';

.featured_games_wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black; //@DEBUG Just temporary

    @include breakpoint(large){
        flex-direction: row;
    }

    .featured_game_block {
        width: 200px;
        height: 300px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;

        @include breakpoint(xlarge){
            width: 300px;
        }

        .game_info_container {
            width: 100%;
            padding: 15px;
            background: rgba(255,255,255,0.8);
        }
    }
}
