@import '../../../../assets/foundation-sites/global';
@import '../../../../assets/foundation-sites/settings';

.search_block {
    display: flex;
    padding: 10px;

    .button, .search_input {
        margin-bottom: 0px;
    }

    @include breakpoint(medium){
        .button {
            width: 25%;
            margin-left: 10px;
        }
    }

    @include breakpoint(large){
        width: 75%;
        margin: 0 auto;
    }
}